:root {
  --border: 3px;
}

.feedback-msg {
  padding: 0.75rem 1.25rem;
  font-size: 1.35rem;
  font-weight: 800;
  text-align: center;
  border-radius: var(--border-radius);
  color: black;

  position: fixed;
  left: 50%;
  top: 10%;
  width: 80%;
  transform: translate(-50%, -50%);

  transition: all 0.3s ease;
  animation: fadeInOut 2.5s ease-in-out;
  z-index: 9999;
  background-color: var(--bg-col);
}

.feedback-msg.default {
  color: #333;
  border: var(--border) solid #ccc;
  box-shadow: 0 0 var(--border-radius) #ccc;
}

.feedback-msg.add {
  border: var(--border) solid var(--primary-col);
  box-shadow: 0 0 var(--border-radius) navy;
}

.feedback-msg.delete {
  border: var(--border) solid #e53935;
  box-shadow: 0 0 var(--border-radius) #e53935;
}

.feedback-msg.completed {
  border: var(--border) solid var(--completed-col);
  box-shadow: 0 0 var(--border-radius) var(--completed-col);
}

.feedback-msg.edited {
  border: var(--border) solid #2e7d32;
  box-shadow: 0 0 var(--border-radius) #2e7d32;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
