.feedback-msg {
  padding: 0.75rem 1.25rem;
  font-size: 1.35rem;
  font-weight: 800;
  text-align: center;
  border-radius: calc(var(--border-radius)*1.75);
  color: var(--text-col);

  position: fixed;
  left: 50%;
  top: 10%;
  width: 80%;
  transform: translate(-50%, -50%);

  animation: fadeInOut 3s ease forwards;
  z-index: 9999;
  background-color: var(--bg-col);
}

.feedback-msg.default {
  color: var(--text-col);
  border: var(--border) solid #ccc;
  box-shadow: 0 0 calc(var(--border-radius)*1.75) #ccc;
}

.feedback-msg.add {
  border: var(--border) solid var(--primary-col);
  box-shadow: 0 0 calc(var(--border-radius)*1.75) blue;
}

.feedback-msg.delete {
  border: var(--border) solid red;
  box-shadow: 0 0 calc(var(--border-radius)*1.75) red;
}

.feedback-msg.completed {
  border: var(--border) solid var(--completed-col);
  box-shadow: 0 0 calc(var(--border-radius)*1.75) var(--completed-col);
}

.feedback-msg.edited {
  border: var(--border) solid var(--secondary-col);
  box-shadow: 0 0 calc(var(--border-radius)*1.75) #ff8c00;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
