.header-title {
  font-size: 2.5rem;
  font-weight: var(--font-weight-4);
  text-align: center;
  margin: 5px;
  color: var(--header-title-col);
}

.header-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}
