.task-deletion-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.task-deletion-title {
  font-size: 1.75rem;
  font-weight: var(--font-weight-2);
  color: var(--primary-col);
  margin-bottom: 0.5rem;
}

.task-deletion-warning {
  font-size: 1rem;
  font-weight: var(--font-weight-1);
  color: var(--text-col);
  margin-bottom: 1.5rem;
}

.danger-text {
  color: #ff1900;
  font-weight: var(--font-weight-2);
}

.delete-btn {
  font-size: 1.5rem;
  background-color: rgb(238, 92, 92);
  transition: transform 0.2 ease;
}

.delete-btn:hover {
  background-color: red;
  box-shadow: 0 0 var(--border-radius) red;
  transform: scale(1.1);
}
